body {background-color: #FFFFFF;
	 font-family: Georgia, Palatino, serif;
	 color: #000000;
    line-height: 1;
}

#textR {
	text-align: right;
	margin: auto;
}

#textC {
	text-align: center;
	margin: auto;
}

#textL {
	text-align: left;
	margin: auto;
}
